/*Use our standard non-serif font for everything*/
.marathonpacingcalculatorcontentarea p,
.marathonpacingcalculatorcontentarea span,
.marathonpacingcalculatorcontentarea input,
.marathonpacingcalculatorcontentarea select,
.marathonpacingcalculatorcontentarea td,
.marathonpacingcalculatorcontentarea th,
.exploremarathonpacingscontentarea p,
.exploremarathonpacingscontentarea label,
.exploremarathonpacingscontentarea span,
.exploremarathonpacingscontentarea input,
.exploremarathonpacingscontentarea select,
.exploremarathonpacingscontentarea td,
.exploremarathonpacingscontentarea th 
{
font-family: "jaf-bernina-sans",sans-serif;
}

.marathonpacingcalculatorcontentarea p,
.exploremarathonpacingscontentarea p {
font-size: 1em;
}

/*Main buttons*/
.marathonpacingcalculatorcontentarea .calculate-button
{
/*background-color: #A46497;*/
background-color: #666;
color: #fff;
font-size: 100%;
margin: 0px;
line-height: 1;
cursor: pointer;
position: relative;
text-decoration: none;
overflow: visible;
padding: 0.618em 1em;
font-weight: 700;
border-radius: 3px;
left: auto;
border: 0px none;
white-space: nowrap;
display: inline-block;
background-image: none;
box-shadow: none;
text-shadow: none;
}





.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.sparkline-tooltip-class {
width: 40px; 
height: 23px;
/*color:#00FFFF;*/
background-color: transparent; 
margin: 0;     
 -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.marathonpacingcalculatorcontentarea .increment-time {
padding: 0px;
width: 30px;
height: 30px;
background-color: #bbb;
border-radius: 5px;
}

.marathonpacingcalculatorcontentarea .tab {
width: 200px;
color: #333;
background-color: #efefef;
display: block;
border-right: 2px solid #47B7A8;
}

.marathonpacingcalculatorcontentarea .tab:hover {
background-color: #e1e1e1;
}

.marathonpacingcalculatorcontentarea .tab.tab-selected {
background-color: #47B7A8;
color: white;
}

.marathonpacingcalculatorcontentarea .tab-content {
display: none;
padding-left: 10px;
/*border-top: none;*/
border-left: none;
}
.marathonpacingcalculatorcontentarea .tab-content.tab-content-active {
display: block;
/*border-top: 2px solid #47B7A8;*/
/*border-left: 2px solid #47B7A8;*/
}

.marathonpacingcalculatorcontentarea  input.time-h {
margin-left: 0.5em; 
padding: 4px;
width: 2em;
height: 2.5em;
text-align: center;
}

.marathonpacingcalculatorcontentarea  input.time-m,
.marathonpacingcalculatorcontentarea  input.time-s { 
margin-left: 0.5em; 
padding: 4px;
width: 3em;
height: 2.5em;
text-align: center;
}


.pacing-table-middle-margin {
border-top: none;
}

/*To make responsive design easier, see https://css-tricks.com/box-sizing/*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*To support older versions of Safari (< 5.1), Chrome (< 10), and Firefox (< 29)*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
