/*
Facebook blue lightened 30%: #87A4E7
Facebook blue lightened 20%: #6D8ACD
Facebook blue lightened 10%: #5471B4
Facebook blue: #3a579a
Facebook dark blue: #314a83
FR purple: #A46497
FR green: #C2E6E1
Pinterest red: #cd1c1f
Pinterest dark red: #ae181a

*/

/*Accuracy donut colours, to match circles in runner details*/
.chart-group-prediction-accuracy-excellent .ct-slice-donut {stroke: darkgreen;}
.chart-group-prediction-accuracy-good .ct-slice-donut {stroke: #4DB14D;}
.chart-group-prediction-accuracy-ok .ct-slice-donut {stroke: #f5a432;}
.chart-group-prediction-accuracy-bad .ct-slice-donut {stroke: darkred;}

#prediction-accuracy-text-excellent {color: darkgreen;}
#prediction-accuracy-text-good {color: #4DB14D;}
#prediction-accuracy-text-ok {color: #f5a432;}
#prediction-accuracy-text-bad {color: darkred;}

.ct-label {
font-family: "jaf-bernina-sans",sans-serif;
font-size: 1em;
color: #eee;
fill: #eee;
}

.group-chart-left,
.group-chart-right {width: 50%;}

.group-charts {
/*background-color: #f5f5f5;*/
border-radius: 5px;
padding: 5px 3px 3px;
margin-bottom: 0px;
}


#chart-group-prediction-accuracy-text #chart-group-prediction-accuracy-text-title,
#chart-group-pacing-profile-text #chart-group-pacing-profile-text-title{
font-size: 17px; 
font-weight: 700;
color: #444;
margin-bottom: 4px;
}

#chart-group-prediction-accuracy-text p,
#chart-group-pacing-profile-text p {
font-family: "jaf-bernina-sans",sans-serif;
font-size: 14px;
margin-bottom: 3px;
}

/******* For exploratory group pacing charts page */
/*.ct-bar {
stroke-width: 18px;
}

.ct-series-a .ct-bar {
stroke: #3a579a;   
}

.ct-series-b .ct-bar {
stroke: #6D8ACD;   
}

.ct-label {
font-family: "jaf-bernina-sans",sans-serif;
font-size: 0.9em;
color: #666;
}*/
/***************************************************/


/**********************************************************************/
/*           Explore marathon pacing page                             */
/**********************************************************************/

/**********************************************************************/
/*           Runner selection criteria                             */
/**********************************************************************/

.block-group.runner-detail,
.block-group#runner-selection {
font-family: "jaf-bernina-sans",sans-serif;
}

.runner-selection-help {width: 45%;}
.runner-selection-inputs {width: 55%;}

.runner-selection-label { width: 25%;} /*% of runner-selection-inputs*/
div.find-runners-button {margin-left: 25%;} /*Offset the button div so it is in the second column under the inputs*/
.runner-selection-input { width: 75%;}

#runner-selection {
margin-bottom: 24px;
/*border: 2px solid cornsilk;*/
background-color: cornsilk;
}

.runner-selection-help {
/*border-right: 1px solid #ccc;*/
}
.runner-selection-help-header {
font-size: 17px;
font-weight: 700;
color: #444;
margin-bottom: 4px;
}
.runner-selection-help-text {
color: #333;
}

.runner-selection-inputs {
background-color: cornsilk;
margin-top: 1em;
margin-bottom: 2em;
border-radius: 8px;
/*padding: 5px 22px 4px 0px;*/
}

.runner-selection-help,
.runner-selection-label,
.runner-selection-input select {
font-size: 14px;
border-color: #ccc;
}

.runner-selection-label {
margin-top: 6px;
color: #333;
clear: left; /*Pocketgrid: Force label block onto new row*/
}

.runner-selection-input select {
padding: 4px;
margin-left: -6px;
}
.runner-selection-input select#finish-time-to {
margin-left: 0px;
}

.runner-selection-input select#age-category,
.runner-selection-input select#gender,
.runner-selection-input select#prediction-accuracy,
.runner-selection-input select#previous-marathons {
width: 260px;
}

.runner-selection-input select#finish-time-from,
.runner-selection-input select#finish-time-to {
width: 118px;
}

#label-finish-time {
margin-top: 28px; /*Force top label down to level of first line of help text*/
}
.runner-selection-input select#finish-time-from,
.runner-selection-input select#finish-time-to {
margin-top: 22px; /*Force top input down to level of first line of help text*/
}
/*
.exploremarathonpacingscontentarea .time-input {
box-shadow: none;
background-color: #fff;
color: #333;
}

.exploremarathonpacingscontentarea .input-empty {
background-color: #C2E6E1;    
}
*/



/**********************************************************************/
/*           Runner detail blocks                                     */
/**********************************************************************/


.block-group.runner-detail {
background-color: #f5f5f5;
border-radius: 5px;
padding: 5px 3px 3px;
margin-bottom: 30px;
}

/*Set vertical and horizontal gutters (in that order)*/
.block-group { margin: -5px -10px; }
.block { padding: 5px 10px; }


/*Mobile*/
@media (max-width: 767px) {
.runner-profile {width: 100%;}
.runner-pacing {width: 100%;} 

.runner-image {width: 15%;}
.runner-info {width: 25%}    

.runner-accuracy-and-times {width: 60%;}
.runner-accuracy {width: 25%; }
.runner-times {width: 75%;}

.block-group.runner-detail {font-size: 14px;}
.runner-accuracy-circle {width: 46px;height: 46px;}
.accuracy-percent {
padding-top: 6px;
padding-bottom: 0px;
margin-bottom: -6px;
font-size: 18px;
}
.accuracy-caption {
padding-top: 0px;
font-size: 9px;
}

.splits-table td {font-size: 12px;}
div#screen-size-tag {width: 767px;}
}


/* iPad portrait */
@media (min-width: 768px) and (max-width: 1023px) {
.runner-profile {width: 30%;}
.runner-pacing {width: 70%;} 

.runner-image {width: 35%;}
.runner-info {width: 65%}    

.runner-accuracy-and-times {width: 100%;}
.runner-accuracy {width: 35%; }
.runner-times {width: 65%;}

.block-group.runner-detail {font-size: 14px;}
.runner-accuracy-circle {width: 46px;height: 46px;}
.accuracy-percent {
padding-top: 6px;
padding-bottom: 0px;
margin-bottom: -6px;
font-size: 18px;
}
.accuracy-caption {
padding-top: 0px;
font-size: 9px;
}
.splits-table td {font-size: 12px;}
div#screen-size-tag {width: 768px;}
}


/* iPad landscape = 1024px */
@media (min-width: 1024px) and (max-width: 1025px) {
.runner-profile {width: 30%;}
.runner-pacing {width: 70%;} 

.runner-image {width: 30%;}
.runner-info {width: 70%}    

.runner-accuracy-and-times {width: 100%;}
.runner-accuracy {width: 30%; }
.runner-times {width: 70%;}

.block-group.runner-detail {font-size: 14px;}
.runner-accuracy-circle {width: 46px;height: 46px;}
.accuracy-percent {
padding-top: 6px;
padding-bottom: 0px;
margin-bottom: -6px;
font-size: 18px;
}
.accuracy-caption {
padding-top: 0px;
font-size: 9px;
}
.splits-table td {font-size: 12px;}
div#screen-size-tag {width: 1024px;}
}


/* desktop */
@media (min-width: 1026px) {
.runner-profile {width: 35%;}
.runner-pacing {width: 65%;} 

.runner-image {width: 30%;}
.runner-info {width: 70%}    

.runner-accuracy-and-times {width: 100%;}
.runner-accuracy {width: 30%; }
.runner-times {width: 70%;}

.block-group.runner-detail {font-size: 14.4px;}
.runner-accuracy-circle {width: 60px;height: 60px;}
.accuracy-percent {
padding-top: 10px;
padding-bottom: 0px;
margin-bottom: -8px;
font-size: 24px;
}

.accuracy-caption {
padding-top: 0px;
font-size: 12px;
}
.splits-table td {font-size: 12px;}
div#screen-size-tag {width: 1026px;}
}


/***********************************/
/* runner-profile blocks */
/***********************************/
.runner-image {
/*width: 30%;*/  /*% of runner-profile block*/
padding-left:2px;
padding-right: 2px;
}

/*Block containing age and previous marathons*/
.runner-info {
/*width: 70%;*/ /*% of runner-profile block*/
padding-left: 6px;
}

/*Block containing accuracy circle block and times block*/
.runner-accuracy-and-times {
padding-top: 0px;
padding-bottom: 6px;
padding-left: 0px;
}

/*Width of block with accuracy circle*/
.runner-accuracy {
/*width: 30%;*/ /*% of runner-accuracy-and-times block*/
padding-left: 0px;
margin-left: 0px; /*Offset same width as runner image so we're aligned with info block*/
}
/*Width of block with predicted and actual times*/
.runner-times {
/*width: 70%;*/
}

.runner-accuracy-circle {
border-radius: 50%;
text-align: center;
}


.runner-accuracy-excellent {
background-color: darkgreen;
}
.runner-accuracy-good {
background-color: #4DB14D;
}
.runner-accuracy-ok {
background-color: #f5a432;
}
.runner-accuracy-bad {
background-color: darkred;
}

.accuracy-percent {
color: white;
font-weight: 400;
}

.accuracy-caption {
color: white;
}

/***********************************/
/* runner-pacing blocks */
/***********************************/
.runner-chart {
width: 100%; /*% of runner-profile block*/
position: relative; /*So we can place the build-pacing-button relative to top right of this div*/
}

.runner-splits {
width: 100%; /*% of runner-profile block*/
}

input[type="submit"].view-splits-button,
input[type="submit"]#find-runners {
margin-top: -4px; /*Hack: Align top of top row text with top of accuracy block*/
/*    background-color: #A46497;*/
    background-color: #666;
    color: #fff;
    font-size: 14px;
    margin: 0px;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: 0.618em 1em;
    font-weight: 700;
    border-radius: 3px;
    left: auto;
    border: 0px none;
    white-space: nowrap;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
}


input[type="submit"]#find-runners {
margin-left: -6px;
}
input[type="submit"].view-splits-button:hover,
input[type="submit"]#find-runners:hover {
background-color: #999;
}

.build-pacing-button { 
float: right;
background: #666;
display: inline-block;
position: absolute;
top: 0;
right: 0;
width: 30px;
height: 30px;
cursor: pointer;
padding: 0px;
text-decoration: none;
text-align: center;
color: #fff;
font-size: 16px;
font-weight: normal;
line-height: 28px;
border-radius: 16px;
-moz-border-radius:27px;
-webkit-border-radius:27px;
}
.build-pacing-button:hover{
background: #999;
}
.build-pacing-button:before{ /* use :before to add the relevant icons */
font-family: "FontAwesome";
content: "\f061"; /* add facebook icon */
}

.splits-table {
/*font-size: 14px;*/
margin-top: -8px; /*Hack: Align top of top row text with top of accuracy block*/
margin-bottom: -8px;
}

.visible {
display: block;
}
.hidden {
display: none;
}

/*Size columns to match bars in chart*/
.splits-table td {
width: 50px;
padding: 0px 0px 0px 0px;
margin-left: 0px;
margin-right: 0px;
border-top: none; /* Override for setting in style.css */
border-bottom: none;
line-height: 16px;
height: 24px;
}


.splits-table tr td:last-child {
width: 70px;
}
.splits-table .splits-header td, 
.splits-table tr td:last-child {
font-weight: bold;
}

.splits-table tbody {
border-bottom: none; /* Override for setting in style.css */
}
 