/* ***********************************************  */
/* Overrides for WooCommerce styles                 */
/* ***********************************************  */

/*Use our standard non-serif font for everything*/
.woocommerce-cart, 
.woocommerce-cart p, 
.woocommerce-cart label, 
.woocommerce-cart input, 
.woocommerce-cart select,
.woocommerce-cart a,
.woocommerce-cart span,
.woocommerce-checkout, 
.woocommerce-checkout p, 
.woocommerce-checkout label, 
.woocommerce-checkout input, 
.woocommerce-checkout select,
.woocommerce-checkout a,
.woocommerce-checkout span,
.woocommerce .site-inner *{
font-family: "jaf-bernina-sans",sans-serif;
}

/*Reset the star-rating font overridden by above */
.woocommerce .star-rating span {
font-family: star;
}

/* Override the slightly larger size defaulted to by WC */
.woocommerce-cart p,
.woocommerce-checkout p{
font-size: 1em;
}

/* Override the default line height (2em) used by WC, noticable in 
Gift Wrap for Multiple Items message, which is two lines */
.woocommerce form .form-row label {
line-height: 1.6em;
}

/* ***********************************************  */
/* Overrides for Basket (cart)                      */
/* ***********************************************  */

/*Hide the coupon entry in the basket items table*/
.woocommerce-cart .coupon {
display: none;
}

/* Hide the "Basket totals" heading above the subtotal, total etc.*/
.woocommerce-cart .cart_totals h2 {
display: none;
}

/* A bit more vertical spacing between products table and totals table now we've hidden the heading (above)*/
.woocommerce-cart .cart_totals {
margin-top: 1em;
}

/* Hide outside border of products table*/
.woocommerce-cart table.shop_table {
border: none;
}

/* Override 32px width setting for image size*/
.woocommerce-cart table.cart img {
width: 200px;
}
/* Display images on mobile & tablet */
.woocommerce-cart table.cart td.product-thumbnail {
display: table-cell;
}

/* ***********************************************  */
/* Overrides for Checkout                           */
/* ***********************************************  */

/* Style the coupon section (if user opens it) */
.woocommerce-checkout form.checkout_coupon {
margin-top: 1em;
background-color: #f5f5f5;
padding-left: 1em;
border-top: 3px solid #1e85be;
border-left: none;
border-right: none;
border-bottom: none;
border-radius: 0;
padding-top: 1em;
padding-bottom: 0.7em;
}
/* Reduce spacing between coupon info message and coupon section*/
.woocommerce-checkout .woocommerce-info {
margin-bottom: 0em!important;
}

/* Style the customer details section */
.woocommerce-checkout #customer_details {
margin-top: 3em;
background-color: #f5f5f5;
padding-left: 1em;
border-top: 3px solid #a46497;
}

/* Style the gift wrap section */
.woocommerce-checkout #wc_checkout_add_ons {
margin-top: 3em;
background-color: #f5f5f5;
padding-left: 1em;
padding-top: 0.5em;
border-top: 3px solid #a46497;
}

/* Hide the "Your order" heading */
.woocommerce-checkout #order_review_heading {
display: none;
}

/* Style the products & totals table section */
.woocommerce-checkout table.woocommerce-checkout-review-order-table {
margin-top: 3em;
background-color: #f5f5f5;
padding-left: 1em;
border-top: 3px solid #a46497;
border-radius: 0;
border-left: none;
border-right: none;
border-bottom: none;
}

/* Style the payments section */
.woocommerce-checkout #payment {
background-color: #fff;
}

.woocommerce-checkout .payment_methods {
margin-top: 3em;
background-color: #f5f5f5;
border-top: 3px solid #a46497;
}

/* Visually separate the tems & conditions and place order button */
.woocommerce-checkout .place-order {
margin-top: 3em;
}

/* Make the PayPal cards image bigger*/
.woocommerce-checkout #payment .payment_method_paypal img {
max-height: 84px;    
}

/* Change "required" fields border color*/
.woocommerce-checkout #billing_first_name,
.woocommerce-checkout #billing_last_name,
.woocommerce-checkout #billing_address_1,
.woocommerce-checkout #billing_address_2,
.woocommerce-checkout #billing_billing_address_3,
.woocommerce-checkout #billing_city,
.woocommerce-checkout #billing_postcode,
.woocommerce-checkout #billing_email,
.select2-container .select2-choice
{
border-color: #a46497;
/*Make inputs border-less but with an underline*/
/*
border: none;
box-shadow: none;
border-bottom: 1px solid #ccc;
color: #000;
padding: 8px;
*/
}

::-webkit-input-placeholder {
color: #ccc;
}

:-moz-placeholder {
color: #ccc;
}
::-moz-placeholder {
color: #ccc;
}
:-ms-input-placeholder {
color: #ccc;
}
/*
input {
-webkit-appearance: none; 
-moz-appearance: none; 
}
*/
/* Change "required" asterisk colour*/
.woocommerce-checkout form .form-row .required {
color: #a46497;
}

.select2-container .select2-choice {
border-color: #a46497;
}

.woocommerce-checkout form .form-row.woocommerce-invalid select {
border-color: #a46497;
}


/* ***********************************************  */
/* Overrides for PaymentSense                       */
/* ***********************************************  */
.woocommerce-checkout #payment div.payment_method_paymentsense_direct {
/*background-color: white;*/
}

/* Reduce vertical size of card name, number etc. input boxes*/
.woocommerce-checkout #payment div.payment_method_paymentsense_direct input {
padding-top: 4px;
padding-bottom: 4px;
}


/* ***********************************************  */
/* Overrides for Product category pages             */
/* ***********************************************  */
/*Reduce vertical height of sorting listbox*/
.woocommerce-ordering select {
padding-top: 6px;
padding-bottom: 6px;
padding-left: 6px;
}


/* START Make the cart table responsive */
/* From: http://www.jeremycarter.com.au/optimising-woocommerce-checkout-for-mobile/ */
/* http://css-tricks.com/responsive-data-tables/ */
@media screen and (max-width: 600px) {

/* Force table to not be like tables anymore */
.woocommerce table.shop_table,
.woocommerce table.shop_table thead,
.woocommerce table.shop_table tbody,
.woocommerce table.shop_table th,
.woocommerce table.shop_table td,
.woocommerce table.shop_table tr {
display: block;
}

/* Hide table headers (but not display: none;, for accessibility) */
.woocommerce table.shop_table thead tr {
position: absolute;
top: -9999px;
left: -9999px;
}

.woocommerce table.shop_table tr {
/*border: 1px solid #d2d3d3; */
}

.woocommerce table.shop_table td {
/* Behave like a "row" */
border: 1px solid #d2d3d3;
position: relative;
padding-left: 50% !important;
}

.woocommerce table.shop_table {
border: none;
}

.woocommerce table.shop_table td.product-spacer {
border-color: #FFF;
height: 10px;
}

.woocommerce table.shop_table td:before {
/* Now like a table header */
position: absolute;
/* Top/left values mimic padding */
top: 6px;
left: 6px;
width: 25%;
padding-right: 10px;
white-space: nowrap;
}

/*
Label the data
*/
.woocommerce table.shop_table td.product-remove:before {
content: "DELETE";
}

.woocommerce table.shop_table td.product-thumbnail:before {
content: "IMAGE";
}

.woocommerce table.shop_table td.product-name:before {
content: "PRODUCT";
}

.woocommerce table.shop_table td.product-price:before {
content: "PRICE";
}

.woocommerce table.shop_table td.product-quantity:before {
content: "QUANTITY";
}

.woocommerce table.shop_table td.product-subtotal:before {
content: "SUBTOTAL";
}

.woocommerce table.shop_table td.product-total:before {
content: "TOTAL";
}

.woocommerce .quantity,
.woocommerce #content .quantity,
.woocommerce .quantity,
.woocommerce #content .quantity {
margin: 0;
}

.woocommerce table.cart td.actions,
.woocommerce #content table.cart td.actions {
text-align: left;
border:0;
padding-left: 0 !important;
}

.woocommerce table.cart td.actions .button.alt,
.woocommerce #content table.cart td.actions .button.alt {
float: left;
margin-top: 10px;
}

.woocommerce table.cart td.actions div,
.woocommerce #content table.cart td.actions div,
.woocommerce table.cart td.actions input,
.woocommerce #content table.cart td.actions input {
margin-bottom: 10px;
}

.woocommerce .cart-collaterals .cart_totals {
float: left;
width: 100%;
text-align: left;
}

.woocommerce .cart-collaterals .cart_totals th,
.woocommerce .cart-collaterals .cart_totals td {
border:0 !important;
}

.woocommerce .cart-collaterals .cart_totals table tr.cart-subtotal td,
.woocommerce .cart-collaterals .cart_totals table tr.shipping td,
.woocommerce .cart-collaterals .cart_totals table tr.total td {
padding-left: 6px !important;
}

.woocommerce table.shop_table tr.cart-subtotal td,
.woocommerce table.shop_table tr.shipping td,
.woocommerce table.shop_table tr.total td,
.woocommerce table.shop_table.order_details tfoot th,
.woocommerce table.shop_table.order_details tfoot td {
padding-left: 6px !important;
border:0 !important;
}

.woocommerce table.shop_table tbody {
padding-top: 10px;
}

.woocommerce .col2-set .col-1,
.woocommerce .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce .col2-set .col-2,
.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce form .form-row-first,
.woocommerce form .form-row-last {
float: none;
width: 100%;
}

.woocommerce .order_details ul,
.woocommerce .order_details ul,
.woocommerce .order_details,
.woocommerce .order_details {
padding:0;
}

.woocommerce .order_details li,
.woocommerce .order_details li {
clear: left;
margin-bottom: 10px;
border:0;
}

/* make buttons full width, text wide anyway, improves effectiveness */
#content table.cart td.actions .button,
.woocommerce #content table.cart td.actions .input-text,
.woocommerce #content table.cart td.actions input,
.woocommerce table.cart td.actions .button,
.woocommerce table.cart td.actions .input-text,
.woocommerce table.cart td.actions input,
.woocommerce #content table.cart td.actions .button,
.woocommerce #content table.cart td.actions .input-text,
.woocommerce #content table.cart td.actions input,
.woocommerce table.cart td.actions .button,
.woocommerce table.cart td.actions .input-text,
.woocommerce table.cart td.actions input {
width: 100%;
font-size:12px !important;
}

.woocommerce tfoot{
display:block !important;
}
.woocommerce tfoot td{
width:100% !important;
display:block !important;
}
/* keep coupon at 50% */
#content table.cart td.actions .coupon .button,
.woocommerce #content table.cart td.actions .coupon .input-text,
.woocommerce #content table.cart td.actions .coupon input,
.woocommerce table.cart td.actions .coupon .button,
.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce table.cart td.actions .coupon input,
.woocommerce #content table.cart td.actions .coupon .button,
.woocommerce #content table.cart td.actions .coupon .input-text,
.woocommerce #content table.cart td.actions .coupon input,
.woocommerce table.cart td.actions .coupon .button,
.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce table.cart td.actions .coupon input {
width: 48%;
font-size:12px !important;
}

/* clean up how coupon inputs display */
#content table.cart td.actions .coupon,
.woocommerce table.cart td.actions .coupon,
.woocommerce #content table.cart td.actions .coupon,
.woocommerce table.cart td.actions .coupon {
margin-top: 1.5em;
}

#content table.cart td.actions .coupon .input-text,
.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce #content table.cart td.actions .coupon .input-text,
.woocommerce table.cart td.actions .coupon .input-text {
margin-bottom: 1em;
}

/* remove cross sells, they interfere with flow between cart and cart totals + shipping calculator */
.woocommerce .cart-collaterals .cross-sells,
.woocommerce .cart-collaterals .cross-sells {
display: none;
}

}
/* END Make the cart table responsive */

